<table class="w-full border border-gray-100">
  <thead>
    <tr class="bg-green-100 text-left">
      <th>Sl</th>
      <th>Item</th>
      <th>Price (BDT)</th>
      <th>Qty</th>
      <th>Disc.</th>
      <th>Total (BDT)</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    @for (product of products(); track product.id) {
      <tr class="even:bg-gray-50 border-b border-gray-100">
        <td>{{ $index + 1 }}</td>

        <td>
          <div>
            <span>{{ product.name }}</span>
            <span>{{ product?.stock ?? 0 }}</span>
          </div>
        </td>

        <td>{{ product.price | currency: ' ' }}</td>
        <td>
          <div class="flex items-center gap-4">
            <button type="button" (click)="decrease(product)" class="w-8 h-8 flex items-center justify-center rounded-full border border-gray-100">
              <i class="fas fa-minus"></i>
            </button>

            <span class="min-w-[5ch] text-center">{{ getQty(product?.id ?? '')() }}</span>

            <button type="button" (click)="increase(product)" class="w-8 h-8 flex items-center justify-center rounded-full border border-gray-100">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </td>
        <td>
          <div>
            <span>{{ getTotalDiscount(product) }}</span>

            <div>
              <button></button>
            </div>
          </div>
        </td>
        <td>{{ getTotal(product) | currency: ' ' }}</td>
        <td>
          <div>
            <button (click)="remove(product)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
